:root {
  /* colours for the BNF browser */
  --hover: #f0f0f0;
  --search-match: #ffff0033;

  /* colours for the BNF code picker */
  --included-directly: #9fc5ff;
  --included-directly-hover: #87b5f5;
  --included-indirectly: #d7ecff;
  --included-indirectly-hover: #c6e2ff;
  --excluded: #ffffff;
}

@scope (#bnf-tree) {
  ul ul {
    display: none;
  }
  li[data-open] > ul {
    display: block;
  }
  ul:has(li[data-matches-search]) {
    display: block;
  }
  li[data-matches-search] > span {
    background-color: var(--search-match);
  }
  span {
    display: block;
    cursor: pointer;
    user-select: none;
  }
  ul {
    list-style-type: none;
  }
  span:hover {
    background-color: var(--hover);
  }
}

@scope (#bnf-tree[data-selectable]) {
  /* included, directly */
  li[data-included] > span {
    background-color: var(--included-directly);
  }
  li[data-included] > span:hover {
    background-color: var(--included-directly-hover);
  }

  /* included, indirectly */
  li[data-included] li span {
    background-color: var(--included-indirectly);
  }
  li[data-included] li span:hover {
    background-color: var(--included-indirectly-hover);
  }

  /* excluded, directly or indirectly */
  li[data-included] li[data-excluded] span {
    background-color: var(--excluded);
  }
  li[data-included] li[data-excluded] span:hover {
    background-color: var(--excluded);
  }

  /* chemical substance included directly, with some descendants excluded */
  /* revolting vertical stripes */
  li[data-partially-included] > span {
    background: repeating-linear-gradient(
      90deg,
      var(--included-directly) 0,
      var(--included-directly) 36px,
      var(--excluded) 36px,
      var(--excluded) 72px
    );
  }
  li[data-partially-included] > span:hover {
    background: repeating-linear-gradient(
      90deg,
      var(--included-directly-hover) 0,
      var(--included-directly-hover) 36px,
      var(--excluded) 36px,
      var(--excluded) 72px
    );
  }

  /* chemical substance included indirectly, with some descendants excluded */
  /* more revolting vertical stripes */
  li[data-included] li[data-partially-included] > span {
    background: repeating-linear-gradient(
      90deg,
      var(--included-indirectly) 0,
      var(--included-indirectly) 36px,
      var(--excluded) 36px,
      var(--excluded) 72px
    );
  }
  li[data-included] li[data-partially-included] > span:hover {
    background: repeating-linear-gradient(
      90deg,
      var(--included-indirectly-hover) 0,
      var(--included-indirectly-hover) 36px,
      var(--excluded) 36px,
      var(--excluded) 72px
    );
  }
}

@scope (#bnf-table) {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    padding: 0;
    border-bottom: 1px solid var(--bs-table-border-color);
  }
  li:last-child {
    border-bottom: 0;
  }
}

@scope (#bnf-table[data-selectable]) {
  th,
  td {
    cursor: pointer;
    user-select: none;
  }

  tr:hover td {
    background-color: var(--hover);
  }

  /* included, indirectly */
  table[data-included] td {
    background-color: var(--included-indirectly);
  }
  table[data-included] tr:hover td {
    background-color: var(--included-indirectly-hover);
  }

  /* included, directly */
  tr[data-included] td {
    background-color: var(--included-directly);
  }
  tr[data-included]:hover td {
    background-color: var(--included-directly-hover);
  }

  /* excluded */
  table[data-included] tr[data-excluded] td {
    background-color: var(--excluded);
  }

  /* What follows is ridiculous.  However, it lets us keep our frontend code as
   * declarative as possible.  We're working around the fact that table columns aren't
   * really a thing in HTML, so there's no way of saying "match all the tds in the same
   * column as a th with a given property".  Instead, we have to repeat the same
   * selectors 100 times.  Why 100?  That's the maximum number of products associated
   * with a chemical substance in our BNF data.
   *
   * It's probably best if this monstrosity stays at the bottom of the file; and it will
   * aid comprehension if the actual CSS rules are in a comment at the top of the block.
   * For navigation, I've also added BLOCK at the top of each block.
   */

  /* BLOCK */
  /* header is hovered over
  /* background: var(--hover) !important; */
  table:has(th:nth-child(1):hover) th:nth-child(1),
  table:has(th:nth-child(1):hover) td:nth-child(1),
  table:has(th:nth-child(2):hover) th:nth-child(2),
  table:has(th:nth-child(2):hover) td:nth-child(2),
  table:has(th:nth-child(3):hover) th:nth-child(3),
  table:has(th:nth-child(3):hover) td:nth-child(3),
  table:has(th:nth-child(4):hover) th:nth-child(4),
  table:has(th:nth-child(4):hover) td:nth-child(4),
  table:has(th:nth-child(5):hover) th:nth-child(5),
  table:has(th:nth-child(5):hover) td:nth-child(5),
  table:has(th:nth-child(6):hover) th:nth-child(6),
  table:has(th:nth-child(6):hover) td:nth-child(6),
  table:has(th:nth-child(7):hover) th:nth-child(7),
  table:has(th:nth-child(7):hover) td:nth-child(7),
  table:has(th:nth-child(8):hover) th:nth-child(8),
  table:has(th:nth-child(8):hover) td:nth-child(8),
  table:has(th:nth-child(9):hover) th:nth-child(9),
  table:has(th:nth-child(9):hover) td:nth-child(9),
  table:has(th:nth-child(10):hover) th:nth-child(10),
  table:has(th:nth-child(10):hover) td:nth-child(10),
  table:has(th:nth-child(11):hover) th:nth-child(11),
  table:has(th:nth-child(11):hover) td:nth-child(11),
  table:has(th:nth-child(12):hover) th:nth-child(12),
  table:has(th:nth-child(12):hover) td:nth-child(12),
  table:has(th:nth-child(13):hover) th:nth-child(13),
  table:has(th:nth-child(13):hover) td:nth-child(13),
  table:has(th:nth-child(14):hover) th:nth-child(14),
  table:has(th:nth-child(14):hover) td:nth-child(14),
  table:has(th:nth-child(15):hover) th:nth-child(15),
  table:has(th:nth-child(15):hover) td:nth-child(15),
  table:has(th:nth-child(16):hover) th:nth-child(16),
  table:has(th:nth-child(16):hover) td:nth-child(16),
  table:has(th:nth-child(17):hover) th:nth-child(17),
  table:has(th:nth-child(17):hover) td:nth-child(17),
  table:has(th:nth-child(18):hover) th:nth-child(18),
  table:has(th:nth-child(18):hover) td:nth-child(18),
  table:has(th:nth-child(19):hover) th:nth-child(19),
  table:has(th:nth-child(19):hover) td:nth-child(19),
  table:has(th:nth-child(20):hover) th:nth-child(20),
  table:has(th:nth-child(20):hover) td:nth-child(20),
  table:has(th:nth-child(21):hover) th:nth-child(21),
  table:has(th:nth-child(21):hover) td:nth-child(21),
  table:has(th:nth-child(22):hover) th:nth-child(22),
  table:has(th:nth-child(22):hover) td:nth-child(22),
  table:has(th:nth-child(23):hover) th:nth-child(23),
  table:has(th:nth-child(23):hover) td:nth-child(23),
  table:has(th:nth-child(24):hover) th:nth-child(24),
  table:has(th:nth-child(24):hover) td:nth-child(24),
  table:has(th:nth-child(25):hover) th:nth-child(25),
  table:has(th:nth-child(25):hover) td:nth-child(25),
  table:has(th:nth-child(26):hover) th:nth-child(26),
  table:has(th:nth-child(26):hover) td:nth-child(26),
  table:has(th:nth-child(27):hover) th:nth-child(27),
  table:has(th:nth-child(27):hover) td:nth-child(27),
  table:has(th:nth-child(28):hover) th:nth-child(28),
  table:has(th:nth-child(28):hover) td:nth-child(28),
  table:has(th:nth-child(29):hover) th:nth-child(29),
  table:has(th:nth-child(29):hover) td:nth-child(29),
  table:has(th:nth-child(30):hover) th:nth-child(30),
  table:has(th:nth-child(30):hover) td:nth-child(30),
  table:has(th:nth-child(31):hover) th:nth-child(31),
  table:has(th:nth-child(31):hover) td:nth-child(31),
  table:has(th:nth-child(32):hover) th:nth-child(32),
  table:has(th:nth-child(32):hover) td:nth-child(32),
  table:has(th:nth-child(33):hover) th:nth-child(33),
  table:has(th:nth-child(33):hover) td:nth-child(33),
  table:has(th:nth-child(34):hover) th:nth-child(34),
  table:has(th:nth-child(34):hover) td:nth-child(34),
  table:has(th:nth-child(35):hover) th:nth-child(35),
  table:has(th:nth-child(35):hover) td:nth-child(35),
  table:has(th:nth-child(36):hover) th:nth-child(36),
  table:has(th:nth-child(36):hover) td:nth-child(36),
  table:has(th:nth-child(37):hover) th:nth-child(37),
  table:has(th:nth-child(37):hover) td:nth-child(37),
  table:has(th:nth-child(38):hover) th:nth-child(38),
  table:has(th:nth-child(38):hover) td:nth-child(38),
  table:has(th:nth-child(39):hover) th:nth-child(39),
  table:has(th:nth-child(39):hover) td:nth-child(39),
  table:has(th:nth-child(40):hover) th:nth-child(40),
  table:has(th:nth-child(40):hover) td:nth-child(40),
  table:has(th:nth-child(41):hover) th:nth-child(41),
  table:has(th:nth-child(41):hover) td:nth-child(41),
  table:has(th:nth-child(42):hover) th:nth-child(42),
  table:has(th:nth-child(42):hover) td:nth-child(42),
  table:has(th:nth-child(43):hover) th:nth-child(43),
  table:has(th:nth-child(43):hover) td:nth-child(43),
  table:has(th:nth-child(44):hover) th:nth-child(44),
  table:has(th:nth-child(44):hover) td:nth-child(44),
  table:has(th:nth-child(45):hover) th:nth-child(45),
  table:has(th:nth-child(45):hover) td:nth-child(45),
  table:has(th:nth-child(46):hover) th:nth-child(46),
  table:has(th:nth-child(46):hover) td:nth-child(46),
  table:has(th:nth-child(47):hover) th:nth-child(47),
  table:has(th:nth-child(47):hover) td:nth-child(47),
  table:has(th:nth-child(48):hover) th:nth-child(48),
  table:has(th:nth-child(48):hover) td:nth-child(48),
  table:has(th:nth-child(49):hover) th:nth-child(49),
  table:has(th:nth-child(49):hover) td:nth-child(49),
  table:has(th:nth-child(50):hover) th:nth-child(50),
  table:has(th:nth-child(50):hover) td:nth-child(50),
  table:has(th:nth-child(51):hover) th:nth-child(51),
  table:has(th:nth-child(51):hover) td:nth-child(51),
  table:has(th:nth-child(52):hover) th:nth-child(52),
  table:has(th:nth-child(52):hover) td:nth-child(52),
  table:has(th:nth-child(53):hover) th:nth-child(53),
  table:has(th:nth-child(53):hover) td:nth-child(53),
  table:has(th:nth-child(54):hover) th:nth-child(54),
  table:has(th:nth-child(54):hover) td:nth-child(54),
  table:has(th:nth-child(55):hover) th:nth-child(55),
  table:has(th:nth-child(55):hover) td:nth-child(55),
  table:has(th:nth-child(56):hover) th:nth-child(56),
  table:has(th:nth-child(56):hover) td:nth-child(56),
  table:has(th:nth-child(57):hover) th:nth-child(57),
  table:has(th:nth-child(57):hover) td:nth-child(57),
  table:has(th:nth-child(58):hover) th:nth-child(58),
  table:has(th:nth-child(58):hover) td:nth-child(58),
  table:has(th:nth-child(59):hover) th:nth-child(59),
  table:has(th:nth-child(59):hover) td:nth-child(59),
  table:has(th:nth-child(60):hover) th:nth-child(60),
  table:has(th:nth-child(60):hover) td:nth-child(60),
  table:has(th:nth-child(61):hover) th:nth-child(61),
  table:has(th:nth-child(61):hover) td:nth-child(61),
  table:has(th:nth-child(62):hover) th:nth-child(62),
  table:has(th:nth-child(62):hover) td:nth-child(62),
  table:has(th:nth-child(63):hover) th:nth-child(63),
  table:has(th:nth-child(63):hover) td:nth-child(63),
  table:has(th:nth-child(64):hover) th:nth-child(64),
  table:has(th:nth-child(64):hover) td:nth-child(64),
  table:has(th:nth-child(65):hover) th:nth-child(65),
  table:has(th:nth-child(65):hover) td:nth-child(65),
  table:has(th:nth-child(66):hover) th:nth-child(66),
  table:has(th:nth-child(66):hover) td:nth-child(66),
  table:has(th:nth-child(67):hover) th:nth-child(67),
  table:has(th:nth-child(67):hover) td:nth-child(67),
  table:has(th:nth-child(68):hover) th:nth-child(68),
  table:has(th:nth-child(68):hover) td:nth-child(68),
  table:has(th:nth-child(69):hover) th:nth-child(69),
  table:has(th:nth-child(69):hover) td:nth-child(69),
  table:has(th:nth-child(70):hover) th:nth-child(70),
  table:has(th:nth-child(70):hover) td:nth-child(70),
  table:has(th:nth-child(71):hover) th:nth-child(71),
  table:has(th:nth-child(71):hover) td:nth-child(71),
  table:has(th:nth-child(72):hover) th:nth-child(72),
  table:has(th:nth-child(72):hover) td:nth-child(72),
  table:has(th:nth-child(73):hover) th:nth-child(73),
  table:has(th:nth-child(73):hover) td:nth-child(73),
  table:has(th:nth-child(74):hover) th:nth-child(74),
  table:has(th:nth-child(74):hover) td:nth-child(74),
  table:has(th:nth-child(75):hover) th:nth-child(75),
  table:has(th:nth-child(75):hover) td:nth-child(75),
  table:has(th:nth-child(76):hover) th:nth-child(76),
  table:has(th:nth-child(76):hover) td:nth-child(76),
  table:has(th:nth-child(77):hover) th:nth-child(77),
  table:has(th:nth-child(77):hover) td:nth-child(77),
  table:has(th:nth-child(78):hover) th:nth-child(78),
  table:has(th:nth-child(78):hover) td:nth-child(78),
  table:has(th:nth-child(79):hover) th:nth-child(79),
  table:has(th:nth-child(79):hover) td:nth-child(79),
  table:has(th:nth-child(80):hover) th:nth-child(80),
  table:has(th:nth-child(80):hover) td:nth-child(80),
  table:has(th:nth-child(81):hover) th:nth-child(81),
  table:has(th:nth-child(81):hover) td:nth-child(81),
  table:has(th:nth-child(82):hover) th:nth-child(82),
  table:has(th:nth-child(82):hover) td:nth-child(82),
  table:has(th:nth-child(83):hover) th:nth-child(83),
  table:has(th:nth-child(83):hover) td:nth-child(83),
  table:has(th:nth-child(84):hover) th:nth-child(84),
  table:has(th:nth-child(84):hover) td:nth-child(84),
  table:has(th:nth-child(85):hover) th:nth-child(85),
  table:has(th:nth-child(85):hover) td:nth-child(85),
  table:has(th:nth-child(86):hover) th:nth-child(86),
  table:has(th:nth-child(86):hover) td:nth-child(86),
  table:has(th:nth-child(87):hover) th:nth-child(87),
  table:has(th:nth-child(87):hover) td:nth-child(87),
  table:has(th:nth-child(88):hover) th:nth-child(88),
  table:has(th:nth-child(88):hover) td:nth-child(88),
  table:has(th:nth-child(89):hover) th:nth-child(89),
  table:has(th:nth-child(89):hover) td:nth-child(89),
  table:has(th:nth-child(90):hover) th:nth-child(90),
  table:has(th:nth-child(90):hover) td:nth-child(90),
  table:has(th:nth-child(91):hover) th:nth-child(91),
  table:has(th:nth-child(91):hover) td:nth-child(91),
  table:has(th:nth-child(92):hover) th:nth-child(92),
  table:has(th:nth-child(92):hover) td:nth-child(92),
  table:has(th:nth-child(93):hover) th:nth-child(93),
  table:has(th:nth-child(93):hover) td:nth-child(93),
  table:has(th:nth-child(94):hover) th:nth-child(94),
  table:has(th:nth-child(94):hover) td:nth-child(94),
  table:has(th:nth-child(95):hover) th:nth-child(95),
  table:has(th:nth-child(95):hover) td:nth-child(95),
  table:has(th:nth-child(96):hover) th:nth-child(96),
  table:has(th:nth-child(96):hover) td:nth-child(96),
  table:has(th:nth-child(97):hover) th:nth-child(97),
  table:has(th:nth-child(97):hover) td:nth-child(97),
  table:has(th:nth-child(98):hover) th:nth-child(98),
  table:has(th:nth-child(98):hover) td:nth-child(98),
  table:has(th:nth-child(99):hover) th:nth-child(99),
  table:has(th:nth-child(99):hover) td:nth-child(99) {
    background: var(--hover) !important;
  }

  /* BLOCK */
  /* included, directly
  /* background: var(--included-directly) !important; */
  table:has(th:nth-child(1)[data-included]) th:nth-child(1),
  table:has(th:nth-child(1)[data-included]) td:nth-child(1),
  table:has(th:nth-child(2)[data-included]) th:nth-child(2),
  table:has(th:nth-child(2)[data-included]) td:nth-child(2),
  table:has(th:nth-child(3)[data-included]) th:nth-child(3),
  table:has(th:nth-child(3)[data-included]) td:nth-child(3),
  table:has(th:nth-child(4)[data-included]) th:nth-child(4),
  table:has(th:nth-child(4)[data-included]) td:nth-child(4),
  table:has(th:nth-child(5)[data-included]) th:nth-child(5),
  table:has(th:nth-child(5)[data-included]) td:nth-child(5),
  table:has(th:nth-child(6)[data-included]) th:nth-child(6),
  table:has(th:nth-child(6)[data-included]) td:nth-child(6),
  table:has(th:nth-child(7)[data-included]) th:nth-child(7),
  table:has(th:nth-child(7)[data-included]) td:nth-child(7),
  table:has(th:nth-child(8)[data-included]) th:nth-child(8),
  table:has(th:nth-child(8)[data-included]) td:nth-child(8),
  table:has(th:nth-child(9)[data-included]) th:nth-child(9),
  table:has(th:nth-child(9)[data-included]) td:nth-child(9),
  table:has(th:nth-child(10)[data-included]) th:nth-child(10),
  table:has(th:nth-child(10)[data-included]) td:nth-child(10),
  table:has(th:nth-child(11)[data-included]) th:nth-child(11),
  table:has(th:nth-child(11)[data-included]) td:nth-child(11),
  table:has(th:nth-child(12)[data-included]) th:nth-child(12),
  table:has(th:nth-child(12)[data-included]) td:nth-child(12),
  table:has(th:nth-child(13)[data-included]) th:nth-child(13),
  table:has(th:nth-child(13)[data-included]) td:nth-child(13),
  table:has(th:nth-child(14)[data-included]) th:nth-child(14),
  table:has(th:nth-child(14)[data-included]) td:nth-child(14),
  table:has(th:nth-child(15)[data-included]) th:nth-child(15),
  table:has(th:nth-child(15)[data-included]) td:nth-child(15),
  table:has(th:nth-child(16)[data-included]) th:nth-child(16),
  table:has(th:nth-child(16)[data-included]) td:nth-child(16),
  table:has(th:nth-child(17)[data-included]) th:nth-child(17),
  table:has(th:nth-child(17)[data-included]) td:nth-child(17),
  table:has(th:nth-child(18)[data-included]) th:nth-child(18),
  table:has(th:nth-child(18)[data-included]) td:nth-child(18),
  table:has(th:nth-child(19)[data-included]) th:nth-child(19),
  table:has(th:nth-child(19)[data-included]) td:nth-child(19),
  table:has(th:nth-child(20)[data-included]) th:nth-child(20),
  table:has(th:nth-child(20)[data-included]) td:nth-child(20),
  table:has(th:nth-child(21)[data-included]) th:nth-child(21),
  table:has(th:nth-child(21)[data-included]) td:nth-child(21),
  table:has(th:nth-child(22)[data-included]) th:nth-child(22),
  table:has(th:nth-child(22)[data-included]) td:nth-child(22),
  table:has(th:nth-child(23)[data-included]) th:nth-child(23),
  table:has(th:nth-child(23)[data-included]) td:nth-child(23),
  table:has(th:nth-child(24)[data-included]) th:nth-child(24),
  table:has(th:nth-child(24)[data-included]) td:nth-child(24),
  table:has(th:nth-child(25)[data-included]) th:nth-child(25),
  table:has(th:nth-child(25)[data-included]) td:nth-child(25),
  table:has(th:nth-child(26)[data-included]) th:nth-child(26),
  table:has(th:nth-child(26)[data-included]) td:nth-child(26),
  table:has(th:nth-child(27)[data-included]) th:nth-child(27),
  table:has(th:nth-child(27)[data-included]) td:nth-child(27),
  table:has(th:nth-child(28)[data-included]) th:nth-child(28),
  table:has(th:nth-child(28)[data-included]) td:nth-child(28),
  table:has(th:nth-child(29)[data-included]) th:nth-child(29),
  table:has(th:nth-child(29)[data-included]) td:nth-child(29),
  table:has(th:nth-child(30)[data-included]) th:nth-child(30),
  table:has(th:nth-child(30)[data-included]) td:nth-child(30),
  table:has(th:nth-child(31)[data-included]) th:nth-child(31),
  table:has(th:nth-child(31)[data-included]) td:nth-child(31),
  table:has(th:nth-child(32)[data-included]) th:nth-child(32),
  table:has(th:nth-child(32)[data-included]) td:nth-child(32),
  table:has(th:nth-child(33)[data-included]) th:nth-child(33),
  table:has(th:nth-child(33)[data-included]) td:nth-child(33),
  table:has(th:nth-child(34)[data-included]) th:nth-child(34),
  table:has(th:nth-child(34)[data-included]) td:nth-child(34),
  table:has(th:nth-child(35)[data-included]) th:nth-child(35),
  table:has(th:nth-child(35)[data-included]) td:nth-child(35),
  table:has(th:nth-child(36)[data-included]) th:nth-child(36),
  table:has(th:nth-child(36)[data-included]) td:nth-child(36),
  table:has(th:nth-child(37)[data-included]) th:nth-child(37),
  table:has(th:nth-child(37)[data-included]) td:nth-child(37),
  table:has(th:nth-child(38)[data-included]) th:nth-child(38),
  table:has(th:nth-child(38)[data-included]) td:nth-child(38),
  table:has(th:nth-child(39)[data-included]) th:nth-child(39),
  table:has(th:nth-child(39)[data-included]) td:nth-child(39),
  table:has(th:nth-child(40)[data-included]) th:nth-child(40),
  table:has(th:nth-child(40)[data-included]) td:nth-child(40),
  table:has(th:nth-child(41)[data-included]) th:nth-child(41),
  table:has(th:nth-child(41)[data-included]) td:nth-child(41),
  table:has(th:nth-child(42)[data-included]) th:nth-child(42),
  table:has(th:nth-child(42)[data-included]) td:nth-child(42),
  table:has(th:nth-child(43)[data-included]) th:nth-child(43),
  table:has(th:nth-child(43)[data-included]) td:nth-child(43),
  table:has(th:nth-child(44)[data-included]) th:nth-child(44),
  table:has(th:nth-child(44)[data-included]) td:nth-child(44),
  table:has(th:nth-child(45)[data-included]) th:nth-child(45),
  table:has(th:nth-child(45)[data-included]) td:nth-child(45),
  table:has(th:nth-child(46)[data-included]) th:nth-child(46),
  table:has(th:nth-child(46)[data-included]) td:nth-child(46),
  table:has(th:nth-child(47)[data-included]) th:nth-child(47),
  table:has(th:nth-child(47)[data-included]) td:nth-child(47),
  table:has(th:nth-child(48)[data-included]) th:nth-child(48),
  table:has(th:nth-child(48)[data-included]) td:nth-child(48),
  table:has(th:nth-child(49)[data-included]) th:nth-child(49),
  table:has(th:nth-child(49)[data-included]) td:nth-child(49),
  table:has(th:nth-child(50)[data-included]) th:nth-child(50),
  table:has(th:nth-child(50)[data-included]) td:nth-child(50),
  table:has(th:nth-child(51)[data-included]) th:nth-child(51),
  table:has(th:nth-child(51)[data-included]) td:nth-child(51),
  table:has(th:nth-child(52)[data-included]) th:nth-child(52),
  table:has(th:nth-child(52)[data-included]) td:nth-child(52),
  table:has(th:nth-child(53)[data-included]) th:nth-child(53),
  table:has(th:nth-child(53)[data-included]) td:nth-child(53),
  table:has(th:nth-child(54)[data-included]) th:nth-child(54),
  table:has(th:nth-child(54)[data-included]) td:nth-child(54),
  table:has(th:nth-child(55)[data-included]) th:nth-child(55),
  table:has(th:nth-child(55)[data-included]) td:nth-child(55),
  table:has(th:nth-child(56)[data-included]) th:nth-child(56),
  table:has(th:nth-child(56)[data-included]) td:nth-child(56),
  table:has(th:nth-child(57)[data-included]) th:nth-child(57),
  table:has(th:nth-child(57)[data-included]) td:nth-child(57),
  table:has(th:nth-child(58)[data-included]) th:nth-child(58),
  table:has(th:nth-child(58)[data-included]) td:nth-child(58),
  table:has(th:nth-child(59)[data-included]) th:nth-child(59),
  table:has(th:nth-child(59)[data-included]) td:nth-child(59),
  table:has(th:nth-child(60)[data-included]) th:nth-child(60),
  table:has(th:nth-child(60)[data-included]) td:nth-child(60),
  table:has(th:nth-child(61)[data-included]) th:nth-child(61),
  table:has(th:nth-child(61)[data-included]) td:nth-child(61),
  table:has(th:nth-child(62)[data-included]) th:nth-child(62),
  table:has(th:nth-child(62)[data-included]) td:nth-child(62),
  table:has(th:nth-child(63)[data-included]) th:nth-child(63),
  table:has(th:nth-child(63)[data-included]) td:nth-child(63),
  table:has(th:nth-child(64)[data-included]) th:nth-child(64),
  table:has(th:nth-child(64)[data-included]) td:nth-child(64),
  table:has(th:nth-child(65)[data-included]) th:nth-child(65),
  table:has(th:nth-child(65)[data-included]) td:nth-child(65),
  table:has(th:nth-child(66)[data-included]) th:nth-child(66),
  table:has(th:nth-child(66)[data-included]) td:nth-child(66),
  table:has(th:nth-child(67)[data-included]) th:nth-child(67),
  table:has(th:nth-child(67)[data-included]) td:nth-child(67),
  table:has(th:nth-child(68)[data-included]) th:nth-child(68),
  table:has(th:nth-child(68)[data-included]) td:nth-child(68),
  table:has(th:nth-child(69)[data-included]) th:nth-child(69),
  table:has(th:nth-child(69)[data-included]) td:nth-child(69),
  table:has(th:nth-child(70)[data-included]) th:nth-child(70),
  table:has(th:nth-child(70)[data-included]) td:nth-child(70),
  table:has(th:nth-child(71)[data-included]) th:nth-child(71),
  table:has(th:nth-child(71)[data-included]) td:nth-child(71),
  table:has(th:nth-child(72)[data-included]) th:nth-child(72),
  table:has(th:nth-child(72)[data-included]) td:nth-child(72),
  table:has(th:nth-child(73)[data-included]) th:nth-child(73),
  table:has(th:nth-child(73)[data-included]) td:nth-child(73),
  table:has(th:nth-child(74)[data-included]) th:nth-child(74),
  table:has(th:nth-child(74)[data-included]) td:nth-child(74),
  table:has(th:nth-child(75)[data-included]) th:nth-child(75),
  table:has(th:nth-child(75)[data-included]) td:nth-child(75),
  table:has(th:nth-child(76)[data-included]) th:nth-child(76),
  table:has(th:nth-child(76)[data-included]) td:nth-child(76),
  table:has(th:nth-child(77)[data-included]) th:nth-child(77),
  table:has(th:nth-child(77)[data-included]) td:nth-child(77),
  table:has(th:nth-child(78)[data-included]) th:nth-child(78),
  table:has(th:nth-child(78)[data-included]) td:nth-child(78),
  table:has(th:nth-child(79)[data-included]) th:nth-child(79),
  table:has(th:nth-child(79)[data-included]) td:nth-child(79),
  table:has(th:nth-child(80)[data-included]) th:nth-child(80),
  table:has(th:nth-child(80)[data-included]) td:nth-child(80),
  table:has(th:nth-child(81)[data-included]) th:nth-child(81),
  table:has(th:nth-child(81)[data-included]) td:nth-child(81),
  table:has(th:nth-child(82)[data-included]) th:nth-child(82),
  table:has(th:nth-child(82)[data-included]) td:nth-child(82),
  table:has(th:nth-child(83)[data-included]) th:nth-child(83),
  table:has(th:nth-child(83)[data-included]) td:nth-child(83),
  table:has(th:nth-child(84)[data-included]) th:nth-child(84),
  table:has(th:nth-child(84)[data-included]) td:nth-child(84),
  table:has(th:nth-child(85)[data-included]) th:nth-child(85),
  table:has(th:nth-child(85)[data-included]) td:nth-child(85),
  table:has(th:nth-child(86)[data-included]) th:nth-child(86),
  table:has(th:nth-child(86)[data-included]) td:nth-child(86),
  table:has(th:nth-child(87)[data-included]) th:nth-child(87),
  table:has(th:nth-child(87)[data-included]) td:nth-child(87),
  table:has(th:nth-child(88)[data-included]) th:nth-child(88),
  table:has(th:nth-child(88)[data-included]) td:nth-child(88),
  table:has(th:nth-child(89)[data-included]) th:nth-child(89),
  table:has(th:nth-child(89)[data-included]) td:nth-child(89),
  table:has(th:nth-child(90)[data-included]) th:nth-child(90),
  table:has(th:nth-child(90)[data-included]) td:nth-child(90),
  table:has(th:nth-child(91)[data-included]) th:nth-child(91),
  table:has(th:nth-child(91)[data-included]) td:nth-child(91),
  table:has(th:nth-child(92)[data-included]) th:nth-child(92),
  table:has(th:nth-child(92)[data-included]) td:nth-child(92),
  table:has(th:nth-child(93)[data-included]) th:nth-child(93),
  table:has(th:nth-child(93)[data-included]) td:nth-child(93),
  table:has(th:nth-child(94)[data-included]) th:nth-child(94),
  table:has(th:nth-child(94)[data-included]) td:nth-child(94),
  table:has(th:nth-child(95)[data-included]) th:nth-child(95),
  table:has(th:nth-child(95)[data-included]) td:nth-child(95),
  table:has(th:nth-child(96)[data-included]) th:nth-child(96),
  table:has(th:nth-child(96)[data-included]) td:nth-child(96),
  table:has(th:nth-child(97)[data-included]) th:nth-child(97),
  table:has(th:nth-child(97)[data-included]) td:nth-child(97),
  table:has(th:nth-child(98)[data-included]) th:nth-child(98),
  table:has(th:nth-child(98)[data-included]) td:nth-child(98),
  table:has(th:nth-child(99)[data-included]) th:nth-child(99),
  table:has(th:nth-child(99)[data-included]) td:nth-child(99) {
    background: var(--included-directly) !important;
  }

  /* BLOCK */
  /* included, directly; header is hovered over
  /* background: var(--included-directly-hover) !important; */
  table:has(th:nth-child(1)[data-included]:hover) th:nth-child(1),
  table:has(th:nth-child(1)[data-included]:hover) td:nth-child(1),
  table:has(th:nth-child(2)[data-included]:hover) th:nth-child(2),
  table:has(th:nth-child(2)[data-included]:hover) td:nth-child(2),
  table:has(th:nth-child(3)[data-included]:hover) th:nth-child(3),
  table:has(th:nth-child(3)[data-included]:hover) td:nth-child(3),
  table:has(th:nth-child(4)[data-included]:hover) th:nth-child(4),
  table:has(th:nth-child(4)[data-included]:hover) td:nth-child(4),
  table:has(th:nth-child(5)[data-included]:hover) th:nth-child(5),
  table:has(th:nth-child(5)[data-included]:hover) td:nth-child(5),
  table:has(th:nth-child(6)[data-included]:hover) th:nth-child(6),
  table:has(th:nth-child(6)[data-included]:hover) td:nth-child(6),
  table:has(th:nth-child(7)[data-included]:hover) th:nth-child(7),
  table:has(th:nth-child(7)[data-included]:hover) td:nth-child(7),
  table:has(th:nth-child(8)[data-included]:hover) th:nth-child(8),
  table:has(th:nth-child(8)[data-included]:hover) td:nth-child(8),
  table:has(th:nth-child(9)[data-included]:hover) th:nth-child(9),
  table:has(th:nth-child(9)[data-included]:hover) td:nth-child(9),
  table:has(th:nth-child(10)[data-included]:hover) th:nth-child(10),
  table:has(th:nth-child(10)[data-included]:hover) td:nth-child(10),
  table:has(th:nth-child(11)[data-included]:hover) th:nth-child(11),
  table:has(th:nth-child(11)[data-included]:hover) td:nth-child(11),
  table:has(th:nth-child(12)[data-included]:hover) th:nth-child(12),
  table:has(th:nth-child(12)[data-included]:hover) td:nth-child(12),
  table:has(th:nth-child(13)[data-included]:hover) th:nth-child(13),
  table:has(th:nth-child(13)[data-included]:hover) td:nth-child(13),
  table:has(th:nth-child(14)[data-included]:hover) th:nth-child(14),
  table:has(th:nth-child(14)[data-included]:hover) td:nth-child(14),
  table:has(th:nth-child(15)[data-included]:hover) th:nth-child(15),
  table:has(th:nth-child(15)[data-included]:hover) td:nth-child(15),
  table:has(th:nth-child(16)[data-included]:hover) th:nth-child(16),
  table:has(th:nth-child(16)[data-included]:hover) td:nth-child(16),
  table:has(th:nth-child(17)[data-included]:hover) th:nth-child(17),
  table:has(th:nth-child(17)[data-included]:hover) td:nth-child(17),
  table:has(th:nth-child(18)[data-included]:hover) th:nth-child(18),
  table:has(th:nth-child(18)[data-included]:hover) td:nth-child(18),
  table:has(th:nth-child(19)[data-included]:hover) th:nth-child(19),
  table:has(th:nth-child(19)[data-included]:hover) td:nth-child(19),
  table:has(th:nth-child(20)[data-included]:hover) th:nth-child(20),
  table:has(th:nth-child(20)[data-included]:hover) td:nth-child(20),
  table:has(th:nth-child(21)[data-included]:hover) th:nth-child(21),
  table:has(th:nth-child(21)[data-included]:hover) td:nth-child(21),
  table:has(th:nth-child(22)[data-included]:hover) th:nth-child(22),
  table:has(th:nth-child(22)[data-included]:hover) td:nth-child(22),
  table:has(th:nth-child(23)[data-included]:hover) th:nth-child(23),
  table:has(th:nth-child(23)[data-included]:hover) td:nth-child(23),
  table:has(th:nth-child(24)[data-included]:hover) th:nth-child(24),
  table:has(th:nth-child(24)[data-included]:hover) td:nth-child(24),
  table:has(th:nth-child(25)[data-included]:hover) th:nth-child(25),
  table:has(th:nth-child(25)[data-included]:hover) td:nth-child(25),
  table:has(th:nth-child(26)[data-included]:hover) th:nth-child(26),
  table:has(th:nth-child(26)[data-included]:hover) td:nth-child(26),
  table:has(th:nth-child(27)[data-included]:hover) th:nth-child(27),
  table:has(th:nth-child(27)[data-included]:hover) td:nth-child(27),
  table:has(th:nth-child(28)[data-included]:hover) th:nth-child(28),
  table:has(th:nth-child(28)[data-included]:hover) td:nth-child(28),
  table:has(th:nth-child(29)[data-included]:hover) th:nth-child(29),
  table:has(th:nth-child(29)[data-included]:hover) td:nth-child(29),
  table:has(th:nth-child(30)[data-included]:hover) th:nth-child(30),
  table:has(th:nth-child(30)[data-included]:hover) td:nth-child(30),
  table:has(th:nth-child(31)[data-included]:hover) th:nth-child(31),
  table:has(th:nth-child(31)[data-included]:hover) td:nth-child(31),
  table:has(th:nth-child(32)[data-included]:hover) th:nth-child(32),
  table:has(th:nth-child(32)[data-included]:hover) td:nth-child(32),
  table:has(th:nth-child(33)[data-included]:hover) th:nth-child(33),
  table:has(th:nth-child(33)[data-included]:hover) td:nth-child(33),
  table:has(th:nth-child(34)[data-included]:hover) th:nth-child(34),
  table:has(th:nth-child(34)[data-included]:hover) td:nth-child(34),
  table:has(th:nth-child(35)[data-included]:hover) th:nth-child(35),
  table:has(th:nth-child(35)[data-included]:hover) td:nth-child(35),
  table:has(th:nth-child(36)[data-included]:hover) th:nth-child(36),
  table:has(th:nth-child(36)[data-included]:hover) td:nth-child(36),
  table:has(th:nth-child(37)[data-included]:hover) th:nth-child(37),
  table:has(th:nth-child(37)[data-included]:hover) td:nth-child(37),
  table:has(th:nth-child(38)[data-included]:hover) th:nth-child(38),
  table:has(th:nth-child(38)[data-included]:hover) td:nth-child(38),
  table:has(th:nth-child(39)[data-included]:hover) th:nth-child(39),
  table:has(th:nth-child(39)[data-included]:hover) td:nth-child(39),
  table:has(th:nth-child(40)[data-included]:hover) th:nth-child(40),
  table:has(th:nth-child(40)[data-included]:hover) td:nth-child(40),
  table:has(th:nth-child(41)[data-included]:hover) th:nth-child(41),
  table:has(th:nth-child(41)[data-included]:hover) td:nth-child(41),
  table:has(th:nth-child(42)[data-included]:hover) th:nth-child(42),
  table:has(th:nth-child(42)[data-included]:hover) td:nth-child(42),
  table:has(th:nth-child(43)[data-included]:hover) th:nth-child(43),
  table:has(th:nth-child(43)[data-included]:hover) td:nth-child(43),
  table:has(th:nth-child(44)[data-included]:hover) th:nth-child(44),
  table:has(th:nth-child(44)[data-included]:hover) td:nth-child(44),
  table:has(th:nth-child(45)[data-included]:hover) th:nth-child(45),
  table:has(th:nth-child(45)[data-included]:hover) td:nth-child(45),
  table:has(th:nth-child(46)[data-included]:hover) th:nth-child(46),
  table:has(th:nth-child(46)[data-included]:hover) td:nth-child(46),
  table:has(th:nth-child(47)[data-included]:hover) th:nth-child(47),
  table:has(th:nth-child(47)[data-included]:hover) td:nth-child(47),
  table:has(th:nth-child(48)[data-included]:hover) th:nth-child(48),
  table:has(th:nth-child(48)[data-included]:hover) td:nth-child(48),
  table:has(th:nth-child(49)[data-included]:hover) th:nth-child(49),
  table:has(th:nth-child(49)[data-included]:hover) td:nth-child(49),
  table:has(th:nth-child(50)[data-included]:hover) th:nth-child(50),
  table:has(th:nth-child(50)[data-included]:hover) td:nth-child(50),
  table:has(th:nth-child(51)[data-included]:hover) th:nth-child(51),
  table:has(th:nth-child(51)[data-included]:hover) td:nth-child(51),
  table:has(th:nth-child(52)[data-included]:hover) th:nth-child(52),
  table:has(th:nth-child(52)[data-included]:hover) td:nth-child(52),
  table:has(th:nth-child(53)[data-included]:hover) th:nth-child(53),
  table:has(th:nth-child(53)[data-included]:hover) td:nth-child(53),
  table:has(th:nth-child(54)[data-included]:hover) th:nth-child(54),
  table:has(th:nth-child(54)[data-included]:hover) td:nth-child(54),
  table:has(th:nth-child(55)[data-included]:hover) th:nth-child(55),
  table:has(th:nth-child(55)[data-included]:hover) td:nth-child(55),
  table:has(th:nth-child(56)[data-included]:hover) th:nth-child(56),
  table:has(th:nth-child(56)[data-included]:hover) td:nth-child(56),
  table:has(th:nth-child(57)[data-included]:hover) th:nth-child(57),
  table:has(th:nth-child(57)[data-included]:hover) td:nth-child(57),
  table:has(th:nth-child(58)[data-included]:hover) th:nth-child(58),
  table:has(th:nth-child(58)[data-included]:hover) td:nth-child(58),
  table:has(th:nth-child(59)[data-included]:hover) th:nth-child(59),
  table:has(th:nth-child(59)[data-included]:hover) td:nth-child(59),
  table:has(th:nth-child(60)[data-included]:hover) th:nth-child(60),
  table:has(th:nth-child(60)[data-included]:hover) td:nth-child(60),
  table:has(th:nth-child(61)[data-included]:hover) th:nth-child(61),
  table:has(th:nth-child(61)[data-included]:hover) td:nth-child(61),
  table:has(th:nth-child(62)[data-included]:hover) th:nth-child(62),
  table:has(th:nth-child(62)[data-included]:hover) td:nth-child(62),
  table:has(th:nth-child(63)[data-included]:hover) th:nth-child(63),
  table:has(th:nth-child(63)[data-included]:hover) td:nth-child(63),
  table:has(th:nth-child(64)[data-included]:hover) th:nth-child(64),
  table:has(th:nth-child(64)[data-included]:hover) td:nth-child(64),
  table:has(th:nth-child(65)[data-included]:hover) th:nth-child(65),
  table:has(th:nth-child(65)[data-included]:hover) td:nth-child(65),
  table:has(th:nth-child(66)[data-included]:hover) th:nth-child(66),
  table:has(th:nth-child(66)[data-included]:hover) td:nth-child(66),
  table:has(th:nth-child(67)[data-included]:hover) th:nth-child(67),
  table:has(th:nth-child(67)[data-included]:hover) td:nth-child(67),
  table:has(th:nth-child(68)[data-included]:hover) th:nth-child(68),
  table:has(th:nth-child(68)[data-included]:hover) td:nth-child(68),
  table:has(th:nth-child(69)[data-included]:hover) th:nth-child(69),
  table:has(th:nth-child(69)[data-included]:hover) td:nth-child(69),
  table:has(th:nth-child(70)[data-included]:hover) th:nth-child(70),
  table:has(th:nth-child(70)[data-included]:hover) td:nth-child(70),
  table:has(th:nth-child(71)[data-included]:hover) th:nth-child(71),
  table:has(th:nth-child(71)[data-included]:hover) td:nth-child(71),
  table:has(th:nth-child(72)[data-included]:hover) th:nth-child(72),
  table:has(th:nth-child(72)[data-included]:hover) td:nth-child(72),
  table:has(th:nth-child(73)[data-included]:hover) th:nth-child(73),
  table:has(th:nth-child(73)[data-included]:hover) td:nth-child(73),
  table:has(th:nth-child(74)[data-included]:hover) th:nth-child(74),
  table:has(th:nth-child(74)[data-included]:hover) td:nth-child(74),
  table:has(th:nth-child(75)[data-included]:hover) th:nth-child(75),
  table:has(th:nth-child(75)[data-included]:hover) td:nth-child(75),
  table:has(th:nth-child(76)[data-included]:hover) th:nth-child(76),
  table:has(th:nth-child(76)[data-included]:hover) td:nth-child(76),
  table:has(th:nth-child(77)[data-included]:hover) th:nth-child(77),
  table:has(th:nth-child(77)[data-included]:hover) td:nth-child(77),
  table:has(th:nth-child(78)[data-included]:hover) th:nth-child(78),
  table:has(th:nth-child(78)[data-included]:hover) td:nth-child(78),
  table:has(th:nth-child(79)[data-included]:hover) th:nth-child(79),
  table:has(th:nth-child(79)[data-included]:hover) td:nth-child(79),
  table:has(th:nth-child(80)[data-included]:hover) th:nth-child(80),
  table:has(th:nth-child(80)[data-included]:hover) td:nth-child(80),
  table:has(th:nth-child(81)[data-included]:hover) th:nth-child(81),
  table:has(th:nth-child(81)[data-included]:hover) td:nth-child(81),
  table:has(th:nth-child(82)[data-included]:hover) th:nth-child(82),
  table:has(th:nth-child(82)[data-included]:hover) td:nth-child(82),
  table:has(th:nth-child(83)[data-included]:hover) th:nth-child(83),
  table:has(th:nth-child(83)[data-included]:hover) td:nth-child(83),
  table:has(th:nth-child(84)[data-included]:hover) th:nth-child(84),
  table:has(th:nth-child(84)[data-included]:hover) td:nth-child(84),
  table:has(th:nth-child(85)[data-included]:hover) th:nth-child(85),
  table:has(th:nth-child(85)[data-included]:hover) td:nth-child(85),
  table:has(th:nth-child(86)[data-included]:hover) th:nth-child(86),
  table:has(th:nth-child(86)[data-included]:hover) td:nth-child(86),
  table:has(th:nth-child(87)[data-included]:hover) th:nth-child(87),
  table:has(th:nth-child(87)[data-included]:hover) td:nth-child(87),
  table:has(th:nth-child(88)[data-included]:hover) th:nth-child(88),
  table:has(th:nth-child(88)[data-included]:hover) td:nth-child(88),
  table:has(th:nth-child(89)[data-included]:hover) th:nth-child(89),
  table:has(th:nth-child(89)[data-included]:hover) td:nth-child(89),
  table:has(th:nth-child(90)[data-included]:hover) th:nth-child(90),
  table:has(th:nth-child(90)[data-included]:hover) td:nth-child(90),
  table:has(th:nth-child(91)[data-included]:hover) th:nth-child(91),
  table:has(th:nth-child(91)[data-included]:hover) td:nth-child(91),
  table:has(th:nth-child(92)[data-included]:hover) th:nth-child(92),
  table:has(th:nth-child(92)[data-included]:hover) td:nth-child(92),
  table:has(th:nth-child(93)[data-included]:hover) th:nth-child(93),
  table:has(th:nth-child(93)[data-included]:hover) td:nth-child(93),
  table:has(th:nth-child(94)[data-included]:hover) th:nth-child(94),
  table:has(th:nth-child(94)[data-included]:hover) td:nth-child(94),
  table:has(th:nth-child(95)[data-included]:hover) th:nth-child(95),
  table:has(th:nth-child(95)[data-included]:hover) td:nth-child(95),
  table:has(th:nth-child(96)[data-included]:hover) th:nth-child(96),
  table:has(th:nth-child(96)[data-included]:hover) td:nth-child(96),
  table:has(th:nth-child(97)[data-included]:hover) th:nth-child(97),
  table:has(th:nth-child(97)[data-included]:hover) td:nth-child(97),
  table:has(th:nth-child(98)[data-included]:hover) th:nth-child(98),
  table:has(th:nth-child(98)[data-included]:hover) td:nth-child(98),
  table:has(th:nth-child(99)[data-included]:hover) th:nth-child(99),
  table:has(th:nth-child(99)[data-included]:hover) td:nth-child(99) {
    background: var(--included-directly-hover) !important;
  }

  /* BLOCK */
  /* excluded, directly
  /* background: var(--included-directly) !important; */
  table:has(th:nth-child(1)[data-excluded]) th:nth-child(1),
  table:has(th:nth-child(1)[data-excluded]) td:nth-child(1),
  table:has(th:nth-child(2)[data-excluded]) th:nth-child(2),
  table:has(th:nth-child(2)[data-excluded]) td:nth-child(2),
  table:has(th:nth-child(3)[data-excluded]) th:nth-child(3),
  table:has(th:nth-child(3)[data-excluded]) td:nth-child(3),
  table:has(th:nth-child(4)[data-excluded]) th:nth-child(4),
  table:has(th:nth-child(4)[data-excluded]) td:nth-child(4),
  table:has(th:nth-child(5)[data-excluded]) th:nth-child(5),
  table:has(th:nth-child(5)[data-excluded]) td:nth-child(5),
  table:has(th:nth-child(6)[data-excluded]) th:nth-child(6),
  table:has(th:nth-child(6)[data-excluded]) td:nth-child(6),
  table:has(th:nth-child(7)[data-excluded]) th:nth-child(7),
  table:has(th:nth-child(7)[data-excluded]) td:nth-child(7),
  table:has(th:nth-child(8)[data-excluded]) th:nth-child(8),
  table:has(th:nth-child(8)[data-excluded]) td:nth-child(8),
  table:has(th:nth-child(9)[data-excluded]) th:nth-child(9),
  table:has(th:nth-child(9)[data-excluded]) td:nth-child(9),
  table:has(th:nth-child(10)[data-excluded]) th:nth-child(10),
  table:has(th:nth-child(10)[data-excluded]) td:nth-child(10),
  table:has(th:nth-child(11)[data-excluded]) th:nth-child(11),
  table:has(th:nth-child(11)[data-excluded]) td:nth-child(11),
  table:has(th:nth-child(12)[data-excluded]) th:nth-child(12),
  table:has(th:nth-child(12)[data-excluded]) td:nth-child(12),
  table:has(th:nth-child(13)[data-excluded]) th:nth-child(13),
  table:has(th:nth-child(13)[data-excluded]) td:nth-child(13),
  table:has(th:nth-child(14)[data-excluded]) th:nth-child(14),
  table:has(th:nth-child(14)[data-excluded]) td:nth-child(14),
  table:has(th:nth-child(15)[data-excluded]) th:nth-child(15),
  table:has(th:nth-child(15)[data-excluded]) td:nth-child(15),
  table:has(th:nth-child(16)[data-excluded]) th:nth-child(16),
  table:has(th:nth-child(16)[data-excluded]) td:nth-child(16),
  table:has(th:nth-child(17)[data-excluded]) th:nth-child(17),
  table:has(th:nth-child(17)[data-excluded]) td:nth-child(17),
  table:has(th:nth-child(18)[data-excluded]) th:nth-child(18),
  table:has(th:nth-child(18)[data-excluded]) td:nth-child(18),
  table:has(th:nth-child(19)[data-excluded]) th:nth-child(19),
  table:has(th:nth-child(19)[data-excluded]) td:nth-child(19),
  table:has(th:nth-child(20)[data-excluded]) th:nth-child(20),
  table:has(th:nth-child(20)[data-excluded]) td:nth-child(20),
  table:has(th:nth-child(21)[data-excluded]) th:nth-child(21),
  table:has(th:nth-child(21)[data-excluded]) td:nth-child(21),
  table:has(th:nth-child(22)[data-excluded]) th:nth-child(22),
  table:has(th:nth-child(22)[data-excluded]) td:nth-child(22),
  table:has(th:nth-child(23)[data-excluded]) th:nth-child(23),
  table:has(th:nth-child(23)[data-excluded]) td:nth-child(23),
  table:has(th:nth-child(24)[data-excluded]) th:nth-child(24),
  table:has(th:nth-child(24)[data-excluded]) td:nth-child(24),
  table:has(th:nth-child(25)[data-excluded]) th:nth-child(25),
  table:has(th:nth-child(25)[data-excluded]) td:nth-child(25),
  table:has(th:nth-child(26)[data-excluded]) th:nth-child(26),
  table:has(th:nth-child(26)[data-excluded]) td:nth-child(26),
  table:has(th:nth-child(27)[data-excluded]) th:nth-child(27),
  table:has(th:nth-child(27)[data-excluded]) td:nth-child(27),
  table:has(th:nth-child(28)[data-excluded]) th:nth-child(28),
  table:has(th:nth-child(28)[data-excluded]) td:nth-child(28),
  table:has(th:nth-child(29)[data-excluded]) th:nth-child(29),
  table:has(th:nth-child(29)[data-excluded]) td:nth-child(29),
  table:has(th:nth-child(30)[data-excluded]) th:nth-child(30),
  table:has(th:nth-child(30)[data-excluded]) td:nth-child(30),
  table:has(th:nth-child(31)[data-excluded]) th:nth-child(31),
  table:has(th:nth-child(31)[data-excluded]) td:nth-child(31),
  table:has(th:nth-child(32)[data-excluded]) th:nth-child(32),
  table:has(th:nth-child(32)[data-excluded]) td:nth-child(32),
  table:has(th:nth-child(33)[data-excluded]) th:nth-child(33),
  table:has(th:nth-child(33)[data-excluded]) td:nth-child(33),
  table:has(th:nth-child(34)[data-excluded]) th:nth-child(34),
  table:has(th:nth-child(34)[data-excluded]) td:nth-child(34),
  table:has(th:nth-child(35)[data-excluded]) th:nth-child(35),
  table:has(th:nth-child(35)[data-excluded]) td:nth-child(35),
  table:has(th:nth-child(36)[data-excluded]) th:nth-child(36),
  table:has(th:nth-child(36)[data-excluded]) td:nth-child(36),
  table:has(th:nth-child(37)[data-excluded]) th:nth-child(37),
  table:has(th:nth-child(37)[data-excluded]) td:nth-child(37),
  table:has(th:nth-child(38)[data-excluded]) th:nth-child(38),
  table:has(th:nth-child(38)[data-excluded]) td:nth-child(38),
  table:has(th:nth-child(39)[data-excluded]) th:nth-child(39),
  table:has(th:nth-child(39)[data-excluded]) td:nth-child(39),
  table:has(th:nth-child(40)[data-excluded]) th:nth-child(40),
  table:has(th:nth-child(40)[data-excluded]) td:nth-child(40),
  table:has(th:nth-child(41)[data-excluded]) th:nth-child(41),
  table:has(th:nth-child(41)[data-excluded]) td:nth-child(41),
  table:has(th:nth-child(42)[data-excluded]) th:nth-child(42),
  table:has(th:nth-child(42)[data-excluded]) td:nth-child(42),
  table:has(th:nth-child(43)[data-excluded]) th:nth-child(43),
  table:has(th:nth-child(43)[data-excluded]) td:nth-child(43),
  table:has(th:nth-child(44)[data-excluded]) th:nth-child(44),
  table:has(th:nth-child(44)[data-excluded]) td:nth-child(44),
  table:has(th:nth-child(45)[data-excluded]) th:nth-child(45),
  table:has(th:nth-child(45)[data-excluded]) td:nth-child(45),
  table:has(th:nth-child(46)[data-excluded]) th:nth-child(46),
  table:has(th:nth-child(46)[data-excluded]) td:nth-child(46),
  table:has(th:nth-child(47)[data-excluded]) th:nth-child(47),
  table:has(th:nth-child(47)[data-excluded]) td:nth-child(47),
  table:has(th:nth-child(48)[data-excluded]) th:nth-child(48),
  table:has(th:nth-child(48)[data-excluded]) td:nth-child(48),
  table:has(th:nth-child(49)[data-excluded]) th:nth-child(49),
  table:has(th:nth-child(49)[data-excluded]) td:nth-child(49),
  table:has(th:nth-child(50)[data-excluded]) th:nth-child(50),
  table:has(th:nth-child(50)[data-excluded]) td:nth-child(50),
  table:has(th:nth-child(51)[data-excluded]) th:nth-child(51),
  table:has(th:nth-child(51)[data-excluded]) td:nth-child(51),
  table:has(th:nth-child(52)[data-excluded]) th:nth-child(52),
  table:has(th:nth-child(52)[data-excluded]) td:nth-child(52),
  table:has(th:nth-child(53)[data-excluded]) th:nth-child(53),
  table:has(th:nth-child(53)[data-excluded]) td:nth-child(53),
  table:has(th:nth-child(54)[data-excluded]) th:nth-child(54),
  table:has(th:nth-child(54)[data-excluded]) td:nth-child(54),
  table:has(th:nth-child(55)[data-excluded]) th:nth-child(55),
  table:has(th:nth-child(55)[data-excluded]) td:nth-child(55),
  table:has(th:nth-child(56)[data-excluded]) th:nth-child(56),
  table:has(th:nth-child(56)[data-excluded]) td:nth-child(56),
  table:has(th:nth-child(57)[data-excluded]) th:nth-child(57),
  table:has(th:nth-child(57)[data-excluded]) td:nth-child(57),
  table:has(th:nth-child(58)[data-excluded]) th:nth-child(58),
  table:has(th:nth-child(58)[data-excluded]) td:nth-child(58),
  table:has(th:nth-child(59)[data-excluded]) th:nth-child(59),
  table:has(th:nth-child(59)[data-excluded]) td:nth-child(59),
  table:has(th:nth-child(60)[data-excluded]) th:nth-child(60),
  table:has(th:nth-child(60)[data-excluded]) td:nth-child(60),
  table:has(th:nth-child(61)[data-excluded]) th:nth-child(61),
  table:has(th:nth-child(61)[data-excluded]) td:nth-child(61),
  table:has(th:nth-child(62)[data-excluded]) th:nth-child(62),
  table:has(th:nth-child(62)[data-excluded]) td:nth-child(62),
  table:has(th:nth-child(63)[data-excluded]) th:nth-child(63),
  table:has(th:nth-child(63)[data-excluded]) td:nth-child(63),
  table:has(th:nth-child(64)[data-excluded]) th:nth-child(64),
  table:has(th:nth-child(64)[data-excluded]) td:nth-child(64),
  table:has(th:nth-child(65)[data-excluded]) th:nth-child(65),
  table:has(th:nth-child(65)[data-excluded]) td:nth-child(65),
  table:has(th:nth-child(66)[data-excluded]) th:nth-child(66),
  table:has(th:nth-child(66)[data-excluded]) td:nth-child(66),
  table:has(th:nth-child(67)[data-excluded]) th:nth-child(67),
  table:has(th:nth-child(67)[data-excluded]) td:nth-child(67),
  table:has(th:nth-child(68)[data-excluded]) th:nth-child(68),
  table:has(th:nth-child(68)[data-excluded]) td:nth-child(68),
  table:has(th:nth-child(69)[data-excluded]) th:nth-child(69),
  table:has(th:nth-child(69)[data-excluded]) td:nth-child(69),
  table:has(th:nth-child(70)[data-excluded]) th:nth-child(70),
  table:has(th:nth-child(70)[data-excluded]) td:nth-child(70),
  table:has(th:nth-child(71)[data-excluded]) th:nth-child(71),
  table:has(th:nth-child(71)[data-excluded]) td:nth-child(71),
  table:has(th:nth-child(72)[data-excluded]) th:nth-child(72),
  table:has(th:nth-child(72)[data-excluded]) td:nth-child(72),
  table:has(th:nth-child(73)[data-excluded]) th:nth-child(73),
  table:has(th:nth-child(73)[data-excluded]) td:nth-child(73),
  table:has(th:nth-child(74)[data-excluded]) th:nth-child(74),
  table:has(th:nth-child(74)[data-excluded]) td:nth-child(74),
  table:has(th:nth-child(75)[data-excluded]) th:nth-child(75),
  table:has(th:nth-child(75)[data-excluded]) td:nth-child(75),
  table:has(th:nth-child(76)[data-excluded]) th:nth-child(76),
  table:has(th:nth-child(76)[data-excluded]) td:nth-child(76),
  table:has(th:nth-child(77)[data-excluded]) th:nth-child(77),
  table:has(th:nth-child(77)[data-excluded]) td:nth-child(77),
  table:has(th:nth-child(78)[data-excluded]) th:nth-child(78),
  table:has(th:nth-child(78)[data-excluded]) td:nth-child(78),
  table:has(th:nth-child(79)[data-excluded]) th:nth-child(79),
  table:has(th:nth-child(79)[data-excluded]) td:nth-child(79),
  table:has(th:nth-child(80)[data-excluded]) th:nth-child(80),
  table:has(th:nth-child(80)[data-excluded]) td:nth-child(80),
  table:has(th:nth-child(81)[data-excluded]) th:nth-child(81),
  table:has(th:nth-child(81)[data-excluded]) td:nth-child(81),
  table:has(th:nth-child(82)[data-excluded]) th:nth-child(82),
  table:has(th:nth-child(82)[data-excluded]) td:nth-child(82),
  table:has(th:nth-child(83)[data-excluded]) th:nth-child(83),
  table:has(th:nth-child(83)[data-excluded]) td:nth-child(83),
  table:has(th:nth-child(84)[data-excluded]) th:nth-child(84),
  table:has(th:nth-child(84)[data-excluded]) td:nth-child(84),
  table:has(th:nth-child(85)[data-excluded]) th:nth-child(85),
  table:has(th:nth-child(85)[data-excluded]) td:nth-child(85),
  table:has(th:nth-child(86)[data-excluded]) th:nth-child(86),
  table:has(th:nth-child(86)[data-excluded]) td:nth-child(86),
  table:has(th:nth-child(87)[data-excluded]) th:nth-child(87),
  table:has(th:nth-child(87)[data-excluded]) td:nth-child(87),
  table:has(th:nth-child(88)[data-excluded]) th:nth-child(88),
  table:has(th:nth-child(88)[data-excluded]) td:nth-child(88),
  table:has(th:nth-child(89)[data-excluded]) th:nth-child(89),
  table:has(th:nth-child(89)[data-excluded]) td:nth-child(89),
  table:has(th:nth-child(90)[data-excluded]) th:nth-child(90),
  table:has(th:nth-child(90)[data-excluded]) td:nth-child(90),
  table:has(th:nth-child(91)[data-excluded]) th:nth-child(91),
  table:has(th:nth-child(91)[data-excluded]) td:nth-child(91),
  table:has(th:nth-child(92)[data-excluded]) th:nth-child(92),
  table:has(th:nth-child(92)[data-excluded]) td:nth-child(92),
  table:has(th:nth-child(93)[data-excluded]) th:nth-child(93),
  table:has(th:nth-child(93)[data-excluded]) td:nth-child(93),
  table:has(th:nth-child(94)[data-excluded]) th:nth-child(94),
  table:has(th:nth-child(94)[data-excluded]) td:nth-child(94),
  table:has(th:nth-child(95)[data-excluded]) th:nth-child(95),
  table:has(th:nth-child(95)[data-excluded]) td:nth-child(95),
  table:has(th:nth-child(96)[data-excluded]) th:nth-child(96),
  table:has(th:nth-child(96)[data-excluded]) td:nth-child(96),
  table:has(th:nth-child(97)[data-excluded]) th:nth-child(97),
  table:has(th:nth-child(97)[data-excluded]) td:nth-child(97),
  table:has(th:nth-child(98)[data-excluded]) th:nth-child(98),
  table:has(th:nth-child(98)[data-excluded]) td:nth-child(98),
  table:has(th:nth-child(99)[data-excluded]) th:nth-child(99),
  table:has(th:nth-child(99)[data-excluded]) td:nth-child(99) {
    background: var(--excluded) !important;
  }
}
