<form id="bnf-search-form" class="input-group mb-4">
  <button class="btn btn-primary" type="submit">Search</button>
  <input class="form-control" placeholder="Search by name or code" >
</form>

<div id="bnf-tree">
{% include "_bnf_tree_nodes.html" with nodes=tree %}
</div>

<div class="modal fade" id="bnf-table-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
