        <div class="col-lg-5">

            <div class="card">
                <div class="card-body">
                    <h1 class="h3">{{ measure_title }}</h1>
                    {{ why_it_matters|safe }}
                    <h4 class="h4">Tags</h4>
                    <ul>
                        {% for tag in tags %}
                        <li>
                            {{ tag }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
