{% if description.text %}
<ul><li>{{ description.text }}</li></ul>
{% else %}
<ul>
    {% if description.product_type == "generic" or description.product_type == "branded" %}
    <li>{{ description.product_type|title }} prescribing only</li>
    {% endif %}
    {% if description.includes %}
    <li>Included codes
        <ul>
            {% for item in description.includes %}
            <li>{{ item.description }} <code>{{ item.code }}</code></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if description.excludes %}
    <li>Excluded codes
        <ul>
            {% for item in description.excludes %}
            <li>{{ item.description }} <code>{{ item.code }}</code></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if description.form_routes %}
    <p>
        <button
            class="btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFormRoutes"
        >
        Form / Routes
        </button>
    </p>
    <div class="collapse" id="collapseFormRoutes">
        <ul>
            {% for form_route in description.form_routes %}
            <li>{{ form_route }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</ul>
{% endif %}
