{% if description.text %}
<ul><li>{{ description.text }}</li></ul>
{% else %}
<ul>
    {% if description.product_type == "generic" or description.product_type == "branded" %}
    <li>{{ description.product_type|title }} prescribing only</li>
    {% endif %}
    {% if description.bnf_codes %}
    <li><strong>BNF codes</strong> {% for item in description.bnf_codes %}{% if not forloop.first %}, {% endif %}{{ item }}{% endfor %}</li>
    {% endif %}
    {% if description.bnf_codes_excluded %}
    <li><strong>BNF codes (excluded)</strong> {% for item in description.bnf_codes_excluded %}{% if not forloop.first %}, {% endif %}{{ item }}{% endfor %}</li>
    {% endif %}
    {% if description.ingredients %}
    <li><strong>Ingredients</strong> {% for item in description.ingredients %}{% if not forloop.first %}, {% endif %}{{ item }}{% endfor %}</li>
    {% endif %}
    {% if description.ingredients_excluded %}
    <li><strong>Ingredients (excluded)</strong> {% for item in description.ingredients_excluded %}{% if not forloop.first %}, {% endif %}{{ item }}{% endfor %}</li>
    {% endif %}
    {% if description.vtms %}
    <li><strong>VTM</strong> {% for item in description.vtms %}{% if not forloop.first %}, {% endif %}{{ item }}{% endfor %}</li>
    {% endif %}
    {% if description.vtms_excluded %}
    <li><strong>VTM (excluded)</strong> {% for item in description.vtms_excluded %}{% if not forloop.first %}, {% endif %}{{ item }}{% endfor %}</li>
    {% endif %}
    {% if description.form_routes %}
    <li><strong>Form/route</strong> {% for form_route in description.form_routes %}{% if not forloop.first %}, {% endif %}{{ form_route }}{% endfor %}</li>
    {% endif %}
    {% if description.form_routes_excluded %}
    <li><strong>Form/route (excluded)</strong> {% for form_route in description.form_routes_excluded %}{% if not forloop.first %}, {% endif %}{{ form_route }}{% endfor %}</li>
    {% endif %}
</ul>
{% endif %}
