{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
@scope (#bnf-tree) {
  ul ul {
    display: none;
  }
  li[data-open] > ul {
    display: block;
  }
  ul:has(li[data-matches-search]) {
    display: block;
  }
  li[data-matches-search] > span {
    background-color: #ffff0033;
  }
  span {
    display: block;
    cursor: pointer;
    user-select: none;
  }
  ul {
    list-style-type: none;
  }
  span:hover {
    background-color: #f0f0f0;
  }

  /* included, directly */
  li[data-included] > span { background-color: #9fc5ff; }
  li[data-included] > span:hover { background-color: #87b5f5; }

  /* included, indirectly */
  li[data-included] li span { background-color: #d7ecff; }
  li[data-included] li span:hover { background-color: #c6e2ff; }

  /* excluded, directly or indirectly */
  li[data-excluded] span { background-color: #ffffff !important; }
  li[data-excluded] span:hover { background-color: #ffffff !important; }
}

@scope (#bnf-table) {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    padding: 0;
    border-bottom: 1px solid var(--bs-table-border-color);
  }
  li:last-child {
    border-bottom: 0;
  }
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-5">
        <div class="card h-100">
            <div class="card-body">
                <h1 class="h3">Search for BNF codes</h1>
                <form>
                    <h2 class="h5">Numerator</h2>
                    {% include "./_bnf_codes_form_controls.html" with prefix="ntr" codes=ntr_codes product_type=ntr_product_type placeholder="BNF codes for numerator" %}
                    <h2 class="h5">Denominator</h2>
                    {% include "./_bnf_codes_form_controls.html" with prefix="dtr" codes=dtr_codes product_type=dtr_product_type placeholder="BNF codes for denominator, or leave blank to use list size" %}
                    <button type="submit" class="btn btn-primary">Submit</button>
		</form>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="card h-100">
            <div class="card-body">
                {% if ntr_codes %}
                <h1 class="h4">Prescribing data</h1>
                <div class="row">
                    <div class="col-6">
                        <h2 class="h5">Numerator</h2>
                        {% include "./_search_description.html" with description=ntr_description %}
                    </div>
                    <div class="col-6">
                        <h2 class="h5">Denominator</h2>
                        {% include "./_search_description.html" with description=dtr_description %}
                    </div>
                </div>
                <div id="prescribing-chart" class="py-3">Loading chart...</div>
                {% else %}
                <div class="text-center text-muted py-5">
                    <p>Search for BNF codes to see prescribing data.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div
  class="modal"
  id="bnf-tree-modal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bnf-tree-modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="bnf-tree-modal-body">
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="bnf-table-modal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bnf-table-modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="bnf-table-modal-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
<script src="{% static 'js/bnf-query.js' %}"></script>
{% endblock %}
