{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
@scope (#bnf-table) {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    padding: 0;
    border-bottom: 1px solid var(--bs-table-border-color);
  }
  li:last-child {
    border-bottom: 0;
  }
}
</style>
{% endblock %}

{% block content %}
<h1>{{ chemical.name }} <code>{{ chemical.code }}</code></h1>

<div id="bnf-table">
    <table class="table table-sm">
        <tr>
            {% for header in headers %}
            <th><code>{{ header.code }}</code><br />{{ header.name }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            {% for cell in row %}
            <td>
                {% if cell|length > 0 %}
                <ul>
                    {% for item in cell %}
                    <li><code>{{ item.code }}</code><br />{{ item.name }}</li>
                    {% endfor %}
                </ul>
		{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
