<div id="bnf-table">
    <table class="table table-sm">
        <tr>
            {% for header in headers %}
            <th data-code="{{ header.code }}"><code>{{ header.code }}</code><br />{{ header.name }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr{% if row.code %} data-code="{{ row.code }}"{% endif %}>
            {% for cell in row.cells %}
            <td>
                {% if cell|length > 0 %}
                <ul>
                    {% for item in cell %}
                    <li><code>{{ item.code }}</code><br />{{ item.name }}</li>
                    {% endfor %}
                </ul>
		{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
