{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>BNF Browser</h1>

<p>For now, only chapters 1-19 are included.</p>
<p>Clicking on a chemical substance will open a modal showing the related products and presentations.</p>

<form id="search-form" class="input-group mb-4">
  <button class="btn btn-primary" type="submit">Search</button>
  <input
    class="form-control"
    placeholder="Search by name or code"
  >
</form>

<div id="bnf-tree">
{% include "_bnf_tree_nodes.html" with nodes=tree %}
</div>

<div
  class="modal fade"
  id="bnf-modal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bnf-modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="bnf-modal-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
<script>
const tree = document.getElementById("bnf-tree");
const modalElement = document.getElementById("bnf-modal");
const modalTitle = document.getElementById("bnf-modal-title");
const modalBody = document.getElementById("bnf-modal-body");
const bnfModal = new bootstrap.Modal(modalElement);

tree.addEventListener("click", (e) => {
    const li = e.target.closest("li");
    const code = li.dataset["code"];
    if (code.length == 9) {
        modalTitle.innerHTML = `<code>${code}</code> ${li.dataset["name"]}`;
        modalBody.innerHTML = `
            <div class="text-center py-5">
                <div class="spinner-border">
                </div>
            </div>
        `;
        bnfModal.show();
        htmx.ajax("GET", `${code}/`, { target: "#bnf-modal-body", swap: "innerHTML" });
    } else {
        li.toggleAttribute("data-open");
    }
});

const searchForm = document.getElementById("search-form");
const searchInput = searchForm.querySelector("input");

searchForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const needle = searchInput.value.trim().toLowerCase();
    document.querySelectorAll('#bnf-tree li').forEach(li => {
        if (li.dataset["code"].toLowerCase() === needle || li.dataset["name"].toLowerCase().includes(needle)) {
            li.setAttribute("data-matches-search", "");
        } else {
            li.removeAttribute("data-matches-search");
        }
    });
});
</script>
{% endblock %}
