{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Prescribing for {{ bnf_code.name }}</h1>

<div
  id="prescribing-chart"
  class="py-3"
  data-prescribing-api-url="{{ prescribing_api_url }}"
>
  Loading chart...
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/vega@6.2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@6.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@7.0.2"></script>
<script src="{% static 'js/prescribing-chart.js' %}"></script>
{% endblock %}
