{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-9 {% if measure %} d-none {% endif %}">
        <div class="card">
            <div class="card-body">
                <h1 class="h4">List of measures</h1>
                <ul>
                    {% for measure in measures  %}
                    <li>
                        <div>
                            <a href="/measures/{{ measure.name }}/">
                                {{ measure.title }}
                            </a>
                        </div>
                        <div>
                            {% for tag in measure.tags %}
                            <span class="badge text-bg-secondary ms-1">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
